<!-- your html code here -->
    <div class="row g-3 mt-2">
        <div class="border border-1 mt-5"></div>
        <h2>Contacto</h2>
        <p>Aqui va un form de contacto ¿Quien deberia contactarte? No lo se, es un proyecto hijo, esto es solo una
            fachada.</p>
        <div raw col-12 col-md-4>
            <form
                class="needs-validation container-fluid rounded border border-secondary bg-light m-sm-auto p-3 col-12 col-md-6 justify-content-end">
                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" required name="" id="" aria-describedby="emailHelpId"
                        placeholder="abc@mail.com" />
                    <small id="emailHelpId" class="form-text text-body-secondary">Help text</small>
                </div>
                <div class="mb-3">
                    <label for="Commit" class="form-label">Comentarios</label>
                    <textarea class="form-control" name="Commits" id="Commits" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                    Enviar
                </button>
            </form>
        </div>
    </div>