<div class="container bg-white py-5">

    <div class="row align-items-center">

        <div class="col-md-7">

            <div class="d-flex gap-2">
                <h1>This First Heading</h1>
                <h1 class="text-secondary">Will Catch Your Eye</h1>
            </div>

            <p>
                Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl
                consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>

        </div>

        <div class="col-md-5 text-center">
            <img src="assets/img/1.jpg"
                 class="rounded-circle"
                 style="width:250px;">
        </div>

    </div>

</div>