<!-- your html code here -->
<div class="row g-3 my-2 mx-3">
            <div class="border border-1 mt-5"></div>
            <h2>Porfolio</h2>
            <p>No se que poner aqui pero tiene que haber un parrafo asi que vamos poniendo esto mientras tanto, a lo
                mejor hasta se queda en el corte final, total es solo cubrir espacio xd. Al final he puesto a los
                colaboradores que estamos en el proyecto.</p>
        </div>
        <div class="row g-3 mt-2">
            <div class="col col-12 col-md-4 my-5">
                <img src="./assets/img/Arthur.jpg" class="img-fluid w-100 h-100 object-fit-cover ratio ratio-1x1"
                style="object-fit: cover;">
                <h3 class="Names text-primary">Arturo Alvarado</h3>
                <p>Descripción</p>
            </div>
            <div class="col col-12 col-md-4 my-5">
                <img src="./assets/img/FranFor.jpg" class="img-fluid w-100 h-100 object-fit-cover ratio-1x1"
                style="object-fit: cover;">
                <h3 class="Names text-primary">Francisco Fortes</h3>
                <p>Descripción</p>
            </div>
            <div class="col col-12 col-md-4 my-5 accordion">
                <img src="./assets/img/JuanOr.jpg" class="img-fluid w-100 h-100 object-fit-cover ratio-1x1"
                style="object-fit: cover;">
                <h3 class="Names text-primary">Juan Ortiz</h3>
                <p>Descripción</p>
            </div>
        </div>   